/* DEFAULT */
body{
	-webkit-font-smoothing:antialised;
}

body *::-moz-selection {
	background: #bbb;
	color: #fff;
}

body *::-webkit-selection {
	background: #bbb;
	color: #fff;
}

body *::selection {
	background: #bbb;
	color: #fff;
}

/* LINKS */
a,a:hover,a:focus{
	color: #ff9ea3;
}
/* TOOLTIPS */
.tooltip-inner{
	background: pink;
}
.tooltip.bs-tether-element-attached-left .tooltip-arrow, .tooltip.tooltip-right .tooltip-arrow{
	border-right-color: pink;
}




.slogan{
	position: relative;
	display: block;
	margin-top: 30%;
	line-height: 36px;
	font-size: 125%;
	font-weight: bold;
	letter-spacing: 3px;
	cursor:default;
}




.rogue{
	margin-top: 15%;
}
.rogue .photos-rogue{
	position: relative;
}
.rogue .photo-rogue{
	display: block;
	width: 100%;
	height: auto;
	max-width: 330px;
	max-height: 319px;
	margin: 0 auto;
}
.rogue .photos{
	position: absolute;
	top: 28%;
	left: 75%;
	z-index: 1;
}
.rogue .photos img{
	display: block;
	width: 35px;
	height: 35px;
	margin-bottom: 20%;
	border: 2px solid #fff;
	box-sizing: content-box;
	background: pink;
	cursor: zoom-in;
}
.rogue .photos img:hover{
	border: 2px solid #ff9ea3;
}
.rogue h2{
	position: relative;
	margin-top: -14%;
	text-align: center;
	font-size: 812%;
	font-weight: 100;
	cursor:default;
}




nav ul{
	margin-top: 4%;
	margin-bottom: 5%;
	padding-left: 0;
	text-align: center;
}
nav li{
	display: inline-block;
	padding-left: 10px;
	text-align: center;
	list-style: none;
	color: #ff9ea3;
}
nav ul a{
	margin-right: 13px;
	text-transform: uppercase;
	color: #ff9ea3;
	font-size: 118%;
	letter-spacing: -1px;
}
nav a:hover{
	text-decoration: none;
	color: #555;
}




.nice-title{
	text-align: center;
	margin-top: 10%;
	margin-bottom: 4%;
	text-transform: uppercase;
	cursor:default;
}
.nice-title:after{
	content: '';
	display: block;
	position: relative;
	margin: 0 auto;
	top: 10px;
	width: 7%;
	height: 4px;
	background: rgb(55, 58, 60);
}







.reviews{
	margin-bottom: 5%;
}
.review{
	position: relative;
	margin-top: 0;
	margin-bottom: 4%;
	padding: 40px 70px 40px 80px;
	background: #f8f8f8;
}
.review .author{
	float: right;
	width: 100%;
	margin-bottom: 3%;
	text-align: right;
}
.review .author strong{
	display: inline-block;
	line-height: 18px;
	font-size: 15px;
}
.review .author span{
	display: inline-block;
	color: #999;
	line-height: 18px;
	font-size: 93%;
}
.review p{
	font-size: 125%;
	font-weight: 100;
	font-style: italic;
}
.review p:before{
	content: '';
	display: block;
	position: absolute;
	top: 30px;
	left: 30px;
	width: 32px;
	height: 32px;
	background: url(../quotes.png) no-repeat;
}
.review p:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 32px;
	height: 32px;
	background: url(../quotes.png) no-repeat;
	transform: rotate(180deg);
}
.review .masha-shop{
	opacity: .5;
}





.read-more-review,.read-more-review:focus{
	display: block;
	width: 50%;
	max-width: 222px;
	text-align: center;
	margin: 0 auto;
	padding: 8px 9px;
	border: 2px solid #333;
	font-size: 87.5%;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #333;
}
.read-more-review:hover{
	text-decoration: none;
	color: #fff;
	background: #333;
}




@media (max-width:768px){
	body{
		font-size: 80%;
	}
	.rogue .photo-rogue{
		width: 65%;
	}
	.rogue h2{
		font-size: 512%;
	}
	.nice-title{
		font-size: 250%;
	}
}

@media (max-width:480px){
	body{
		font-size: 60%;
	}
	.rogue .photo-rogue{
		width: 55%;
	}
	.rogue h2{
		font-size: 312%;
	}
}
@media (max-width:414px){
	.rogue .photos{
		top: -20%;
		left: 94%;
	}
	.slogan{
		line-height: 22px;
		font-size: 98%;
	}
	.nice-title {
		font-size: 150%;
	}
}
@media (max-width:375px){
	.rogue .photos{
		left: 102%;
	}
}
